<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tech Blog</title>
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/profile">Profile</a>
      <a href="/user/1">Dashboard</a>
      <a href="/login">Login</a>
    </nav>
    <main>
      {{{body}}}
    </main>
  </body>
</html>